*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #5ee2e9;
}

.container{
  max-width: 440px;
  padding: 0 26px;
  margin: 170px auto;
}

.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
}

.wrapper .title{
  line-height: 80px;
  background: #0fc1ca;
  padding-left: 20px;
  text-align: center;
  color: white;
  border-radius: 5px 5px 0 0;
  font-size: 25px;
  font-weight: 600;
}

.wrapper form{
  padding: 30px 20px 25px 20px;
}

.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input{
  height: 100%;
  width: 100%;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
}

form .row input:focus{
  border-color: #0fc1ca;
  box-shadow: inset 0px 0px 2px 2px rgb(26, 172, 188);
}

.wrapper form .row  i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #0fc1ca;
  border: 1px solid #0fc1ca;
  display: flex;
  border-radius: 5px 0 0 5px;
  align-items: center;
  justify-content: center;
}

.wrapper form .button input{
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding-left: 0px;
  background: #0fc1ca;
  border: 1px solid #0fc1ca;
  cursor: pointer;
}

form .button input:hover{
  background: #43dde8;
}

.wrapper form .pass{
  margin: -10px 0 15px 0;
}

.wrapper form .pass a{
  color:#0fc1ca ;
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .pass a:hover{
  text-decoration: underline;
}

.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
}

.wrapper form .signup-link a{
  color:#0fc1ca ;
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .signup-link a:hover{
  text-decoration:underline;
}